.AboutSection {
    display: flex;
    font-family: Mulish;
    height: auto;
    margin: 40px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    background-color:rgb(220, 220, 220);
}

.AboutHeading {
    font-size: 4rem;
}

.FounderPic {
    height: 60vh;
    position: relative;
    opacity: .8;
    border-radius: 4px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .6);
    transform: translateY(0%) translateX(0%);
}

.MissionHeading {
    align-self: center;
    margin: 10px;
    text-align: center;
    font-size: 2.6rem;
}

.StoryDesc {
    align-self: flex-start;
    margin: 60px;
    text-align: center;
    font-size: 1.8rem;
}

@media (max-width: 767.98px) { 

    .AboutHeading {
        font-size: 3.4rem;
    }

    .AboutSection {
        height: auto;
        margin: 0px;
    }

    .FounderPic {
        height: 50vh;
        position: relative;
        opacity: 1;
        margin: 0px;
        transform: translateY(0%) translateX(0%);
    }

    .MissionHeading {
        align-self: center;
        margin: 40px;
        transform: translateY(-20%);
        text-align: center;
        font-size: 2.4rem;
    }
    
    .StoryDesc {
        align-self: center;
        transform: translateY(-10%);
        margin: 20px;
        text-align: center;
        font-size: 1.4rem;
    }

}