.MenuSection {
    height: auto;
    display: flex;
    background-color: aliceblue;
    padding: 0px;
    margin: 40px;
    flex-direction: column;
    align-items: center;
    font-family: Mulish;
}

.MenuHeading {
    font-weight: 800;
    font-size: 4rem;
    -webkit-text-stroke: 2px black;
}

.espressodrink{
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 1.6rem;
    margin: 0;
    letter-spacing: .4px;
}

.espressodesc{
    font-size: 1.3rem;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center; 
}

.transcup {
    margin: 10px;
    height: 20vh;
    transition: 2s animation ease;
    animation: 4s smoothSwing infinite alternate ease-in-out;
}

.transcup:hover {
    
    cursor: pointer;
}

@keyframes smoothSwing {
    0% {
        transform: rotate(0deg); /* Start from no rotation */
    }
    50% {
        transform: rotate(-10deg); /* First transition is smoother */
    }
    100% {
        transform: rotate(10deg); /* Second transition is smoother */
    }
}


.espresso {
    height: fit-content;
    background-color: rgb(170,100,84)  ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .6);
    display: flex;
    width: 34vmin;
    padding: 20px;
    flex-direction: column;
}

.espressonlatte{
    display: flex;
    gap: 280px;
    margin-bottom: 40px;
    margin-top: -80px;
}

.iced-latte {
    height: fit-content;
    background-color: rgba(167,122,81,255);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .6);
    display: flex;
    width: 34vmin;
    padding: 20px;
    flex-direction: column;
}

.espressoheading {
    font-size: 2.8rem;
    margin-top: -60px;
    background-color: white;
    padding: 6px;
    border-radius: 2px;
    text-align: center;
    font-weight: 900;
    align-self: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .4);
}

@media (max-width: 767.98px) {

    .espressonlatte{
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 0px;
    }

    .MenuHeading {
        font-size: 2.8rem;
        margin-right: 0px;
        font-weight: 500;
    }

    .espressodrink{
        font-size: 1.4rem;
    }
    
    .espressodesc{
        font-size: 1.18rem;
        color: white;
    }

    .MenuSection {
        height: auto;
        display: flex;
        background-color: aliceblue;
        padding: 0px;
        margin: 0px;
        flex-direction: column;
        align-items: center;
    }  

    .espresso {
        padding: 40px;
        width: 55vmin;
    }

    .iced-latte {
        padding: 40px;
        width: 55vmin;
        margin-top: 110px;
    }
    
    .transcup {
        margin: 20px;
        height: 20vh;
    }

    .espressoheading {
        font-size: 2.2rem;
        margin-top: -64px;
    }

}