.OrderSection {
    height: 58vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    margin: 40px;
    font-family: Kanit;
}

.OrderHeading {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -2px;
}

.indevelopment {
    font-style: italic;
    font-weight: 300;
    text-align: center;
    font-size: 2rem;
    margin: 40px;
    padding: 40px;
}

.linkname {
    text-decoration: none;
}


@media (max-width: 767.98px) {

    .OrderHeading{
        font-size: 3rem;
    }

    .OrderSection {
        height: 70vh;
    }

    .indevelopment {
        font-style: italic;
        font-weight: 300;
        text-align: center;
        font-size: 1.8rem;
        margin: 10px;
        margin-left: 20px;
        margin-top: 0px;
        padding: 0px;
        width: 90%;
    }

    .OrderSection {
        margin: 0px;
    }
    
}